// Bootstrap
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

// Normalize Styles
// @import 'node_modules/normalize.css/normalize';

// Import Modules
@import '../_modules/link/link';

// Browsehappy colours
$browsehappy-bg: #fff8e2;
$browsehappy-text: #000;

// Main colour pallette
$bg: #1e1e1e;

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*::before,
*::after {
  box-sizing: border-box;
}

.yeogurt-info {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  text-align: center;
}

.version {
  bottom: 10px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 14px;
  position: absolute;
  right: 10px;
}

.logo {
  margin-top: 15px;
}

// Styling on warning for users on IE7 or below
.browsehappy {
  background: $browsehappy-bg;
  color: $browsehappy-text;
  margin: 0;
  padding: .5em 0;
  text-align: center;
}

body {
  background: $bg;
}
